.jumbotron {
    margin-bottom: 0px;
    background-image: url(/static/another-thing.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.15em 0.15em 0.15em;
}

.foot {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  text-align: center;
}

.wrapper {
  float: none;
  margin: 0 auto;

}

.col-md-6 {
  margin: 0 auto;
  float: none;
}

hr {
  margin-bottom: 0
}